<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
       point="net.bioclipse.cdk.jchempaint.generator">
    <generator
          class="net.bioclipse.metaprint2d.ds.MetaPrint2D_DS_Generator">
    </generator>
 </extension>

   <extension
         point="net.bioclipse.decisionsupport">
         
      <test
            id="metaprint2d"
            name="MetaPrint2D"
            icon="icons/metaprint2d.gif"
            endpoint="net.bioclipse.ds.adme"
            class="net.bioclipse.metaprint2d.ds.MetaPrint2DMatcher"
            propertycalculator="MetaPrint2D"
            informative="true">
      </test>
</extension>
</plugin>
