<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.decisionsupport">
         
         <endpoint
               id="net.bioclipse.ds.metaprint2d"
               description="MetaPrint2D site-of-metabolism prediction"
               icon="icons/metaprint2d.gif"
               name="MetaPrint2D">
         </endpoint>
         
      <test
            id="metaprint2d"
            name="MetaPrint2D"
            endpoint="net.bioclipse.ds.metaprint2d"
            class="net.bioclipse.metaprint2d.ds.MetaPrint2DMatcher"
            propertycalculator="MetaPrint2D"
            informative="true">
      </test>
</extension>
</plugin>
